@model String

@{
    ViewData["Title"] = "RevenueActuals";

}



<div class="text-center" style="margin-top: 6rem!important;">
	<p class="text-success">@Model</p>
	<form asp-action="RevenueActuals" asp-controller="Excel" method="post" enctype="multipart/form-data">
		<input type="file" name="name" value="" />
		<button class="btn btn-primary">Upload Revenue Actuals</button>
	</form>
</div>
